/* Home.css or login.css */

/* Container for the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container for the login form */
.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Styling the heading */
.login-container h1 {
    margin-bottom: 20px;
}

/* Container for form elements */
.login-container form div {
    margin-bottom: 15px;
}

/* Styling labels */
.login-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

/* Styling input fields */
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Container for password input and eye icon */
.password-container {
    position: relative;
}

.password-container input[type="password"] {
    padding-right: 40px; /* Add space for the eye icon */
}

/* Styling the eye icon */
.eye-icon {
	
    position: absolute;
    top: 75%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
.eye-icon img {
    width: 25px;
    height: 25px;
}

/* Styling the submit button */
.login-container button {
    background-color: #4CAF50;
    margin-top:10px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
	color:#0831FE  ;
}
.login-container button:hover {
    background-color: #45a049;
}

/* Media query for responsiveness */
@media (max-width: 600px) {
    .login-container {
        width: 90%;
    }
}
