<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Form</title>
    <link rel="stylesheet" th:href="@{/order.css}">
</head>
<body>
    <h1>Order Details</h1>
    
    <form th:action="@{/api/products/show-bill}" th:object="${order}" method="post">
 
        <label>Name:</label>
        <input type="text" th:field="*{name}" required />
        <br/>
        
        <label>Email:</label>
        <input type="email" th:field="*{email}" required />
        <br/>
        
        <label>Mobile Number:</label>
        <input type="text" th:field="*{mobileNumber}" />
        <br/>
        
        <label>Address:</label>
        <textarea rows="4" th:field="*{address}" required></textarea>
        <br/>
        
       
        <label>Payment Method:</label>
        <select th:field="*{paymentMethod}" required>
            <option value="Credit Card" th:selected="${order.paymentMethod == 'Credit Card'}">Credit Card</option>
            <option value="Debit Card" th:selected="${order.paymentMethod == 'Debit Card'}">Debit Card</option>
            <option value="Cash on Delivery" th:selected="${order.paymentMethod == 'Cash on Delivery'}">Cash on Delivery</option>
        </select>
        <br/>
        
        <button type="submit">Confirm Order</button>
    </form>
</body>
</html>
